body {
	margin-left: 2em;
}
h1 {
	border-bottom: 1px solid lightseagreen;
}
em {
	color: rgb(238, 176, 70);
}
p {
	line-height: 1.2em;
}
span.disable {
	color: gray;
}
span.enable {
	cursor: pointer;
	font-weight: bold;
}

/* 検索結果 */
h2.title {
	border-bottom: 1px solid lightseagreen;
}
span.auth, span.ncode, span.lastUpdate {
	color: orange;
	margin-right: 2em;
}
span.select {
	cursor: pointer;
	margin-right: 2em;
}
span.chapter {
	font-weight: bold;
	padding: 0.25em;
	border-left: solid 3px lightseagreen;
}
span.add {
	cursor: pointer;
	color: skyblue;
	margin-right: 2em;
}